/*ESTILO GLOBAL DO SITE */ 

html {

    height: 100px; }

body{

background-color: #29bf12;
font-family:"Audiowide", sans-serif;
 color: #abff4f;
 margin: 0;

}


.T1 {

        padding: 0 20px;
        font-size: 1.2em;
        text-transform:uppercase;
        color: #008bf8;
        font-family: "Audiowide", sans-serif;
        text-align: left;
}

 .logo {
    
    width: 75%;
    margin-left: 17%;
    margin-right: auto;

 }

 .texto1 {

    font-size: 1em;
 }

 .texto2 {

    font-size: 1em;
 }

 @media screen and (min-width: 992px) {
   
 .logo {

    width: 35%;
    margin: auto 30%;
 }
    
} 