/* ESTILOS RELACIONADOS AO RODAPÉ */

footer {
  
    background-color: #008bf8;
    text-align: center;
    border-top: 2px solid #abff4f;
    padding: 20 px;
    margin: auto;
    text-transform: lowercase;
    color: #abff4f;

}