/* ESTILOS RELACIONADOS AO RODAPÉ */

footer {
  
    text-align: center;
    border-top: 2px solid #008bf8;
    padding: 20 px;
    margin: auto;
    text-transform: lowercase;
    color: #008bf8;

}