main 

.nintendo {

    width: 75%;
   margin: 2% 10%;
    
}

.nintendo2 {

    margin: 2% 10%;
    

}

.legenda {
    
    font-size: medium;
    color: #008bf8;
}

@media screen and (min-width: 992px) {
   
    .nintendo2 {

        width: 45%;
        margin: auto 30%;
    }
}

.textoprincipal {

    text-align: justify;
}


@media screen and (min-width: 992px) {
   
    .marioeluigi{

        width: 35%;
        margin: 2% 10%;

    }

    .nintendo {

        width: 75%;
       margin: 2% 10%;
        
    }

    .nintendo2 {

        margin: auto 10%;
        
    
    }

    .tabelalogo{

        margin: 5% 30%;
    }
}